.tableDesign{
  align-items: center;
  justify-content: center;
  background-color: aqua;
  text-align: center;
  
}
.header-part{
  height: 100px;
  justify-content: center;
  align-items: center;
}
.layer{
 
}
.flexContainer{
  display: flex;
}
.heads{
  width: 50%;
  background-color: aqua;
  border-style: solid;
  border: 5px black;
  border-color: black;
}
.App {
  text-align: center;
  justify-content: center;
}



